KERNEL=="*" SUBSYSTEMS=="usb", DRIVERS=="usb" ATTRS{idVendor}=="05c6", ATTRS{idProduct}=="1000", SYMLINK+="umts_storage", RUN+="/usr/bin/sudo sh /usr/local/bin/usb_modeswitch.sh"
KERNEL=="ttyUSB0", SUBSYSTEMS=="usb", DRIVERS=="usb" ATTRS{idVendor}=="05c6", ATTRS{idProduct}=="6000", SYMLINK+="umts_modem", RUN+="/usr/bin/sudo sh usr/local/bin/start_network.sh"
KERNEL=="ttyUSB0", SUBSYSTEMS=="usb", DRIVERS=="usb" ATTRS{idVendor}=="12d1", ATTRS{idProduct}=="1003", SYMLINK+="umts_modem"
ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523", SYMLINK+="rs485" 

