[Unit]
Description=Start wifi confg
After=network.target

[Service]
ExecStart=/usr/local/bin/wifi_config.sh
Type=oneshot

[Install]
WantedBy=default.target
