[Unit]
Description=Create new ssh keys
After=network.target

[Service]
ExecStart=/usr/local/bin/start_openssh-server.sh
Type=oneshot

[Install]
WantedBy=default.target
